extends layout

block content
  
  main
    div.container
      h1 Guests
      ul
        each guest in guests
          li
            a(href="/guests/"+guest._id)= guest.name
            div
              input(name=guest._id type="checkbox" checked=guest.rsvp id="rsvp")
              label(for="rsvp") RSVP
      a(href='/guests/new') Add Guest