extends layout

block content
  
  main
    div.container
      h1 Guests
      form(method='post' action='/guests/rsvps')
        ul
          each guest in guests
            li
              a(href="/guests/"+guest._id)= guest.name
              div
                input(name='rsvps' type="checkbox" checked=guest.rsvp id="rsvp" value=guest._id)
                label(for="rsvp") RSVP
        button(type='submit') Update RSVP
      a(href='/guests/new') Add Guest
      